- content_for :page_title do
  = t('admin.settings.branding_assets.title')

- content_for :heading do
  %h1= t('admin.settings.title')
  = render partial: 'admin/settings/shared/links'

= simple_form_for @admin_settings, url: admin_settings_branding_assets_path, html: { multipart: true } do |f|
  = render 'shared/error_messages', object: @admin_settings

  %p.lead= t('admin.settings.branding_assets.preamble')

  - preview_logo = custom_logo_path('display')
  - preview_background_dark_upload = [@admin_settings.background_dark, @admin_settings.background, @admin_settings.background_light].compact.find(&:persisted?)
  - preview_background_light_upload = [@admin_settings.background_light, @admin_settings.background, @admin_settings.background_dark].compact.find(&:persisted?)
  - preview_background_dark = preview_background_dark_upload.file.url('2560') if preview_background_dark_upload
  - preview_background_light = preview_background_light_upload.file.url('2560') if preview_background_light_upload
  - preview_style = []
  - CustomBrandingTheme::COLOR_SETTINGS.each_key do |field|
    - preview_style << "--branding-preview-#{field.to_s.delete_prefix('branding_color_').tr('_', '-')}-dark: #{CustomBrandingTheme.normalize_hex(@admin_settings.public_send(field), CustomBrandingTheme::DEFAULTS[field])}"
    - light_field = :"#{field}_light"
    - preview_style << "--branding-preview-#{field.to_s.delete_prefix('branding_color_').tr('_', '-')}-light: #{CustomBrandingTheme.normalize_hex(@admin_settings.public_send(light_field), CustomBrandingTheme::DEFAULTS[light_field])}"
  - preview_style << "--branding-preview-panel-opacity: #{CustomBrandingTheme.normalize_opacity(@admin_settings.branding_timeline_panel_opacity) / 100.0}"
  - preview_style << "--branding-preview-background-dark: url('#{preview_background_dark}')" if preview_background_dark.present?
  - preview_style << "--branding-preview-background-light: url('#{preview_background_light}')" if preview_background_light.present?

  .branding-assets-preview-controls{ role: 'radiogroup', 'aria-label' => '미리보기 색상 모드' }
    %label
      = radio_button_tag 'branding_preview_scheme', 'light', true, data: { branding_preview_scheme: true }
      %span 밝음 미리보기
    %label
      = radio_button_tag 'branding_preview_scheme', 'dark', false, data: { branding_preview_scheme: true }
      %span 어두움 미리보기

  .branding-assets-preview{ style: preview_style.join('; '), data: { branding_preview_root: true, preview_scheme: 'light' } }
    .branding-assets-preview__sidebar
      .branding-assets-preview__logo
        = image_tag preview_logo, alt: 'C7C4FF', data: { branding_preview_logo_target: true, branding_preview_original_src: preview_logo }
      %nav.branding-assets-preview__nav{ 'aria-label' => '브랜딩 미리보기 네비게이션' }
        .branding-assets-preview__nav-item.branding-assets-preview__nav-item--active
          = material_symbol 'home'
          %span 홈
    .branding-assets-preview__timeline
      .branding-assets-preview__header
        %strong 홈
        = material_symbol 'tune'
      .status__wrapper.status__wrapper-public.status__wrapper-own.focusable.branding-assets-preview__status
        .branding-assets-preview__avatar.branding-assets-preview__avatar--muted
          = material_symbol 'flutter_dash'
        .branding-assets-preview__status-body
          .branding-assets-preview__prepend
            = material_symbol 'reply'
            %span 유저 님에게
          .branding-assets-preview__status-meta
            %strong admin
            %span @admin
            %small · 지금
          %p
            %span.branding-assets-preview__mention @user
            브랜딩 미리보기용 공개 툿입니다. 글자색, 강조색, 패널 투명도 분위기를 확인할 수 있어요.
          .branding-assets-preview__status-actions
            = material_symbol 'chat_bubble'
            = material_symbol 'repeat'
            = material_symbol 'favorite'
            = material_symbol 'bookmark'
    .branding-assets-preview__compose
      .branding-assets-preview__search
        %span 검색하거나 URL 붙여넣기
        = material_symbol 'search'
      .branding-assets-preview__compose-profile
        .branding-assets-preview__avatar.branding-assets-preview__avatar--muted
          = material_symbol 'flutter_dash'
        .branding-assets-preview__compose-account
          %strong admin
          %span @admin
        = material_symbol 'more_horiz'
      .compose-form__highlightable.branding-assets-preview__compose-box
        %span.branding-assets-preview__visibility
          = material_symbol 'public'
          로컬, 인용 허용
        %p 지금 무슨 생각을 하고 있나요?
        .branding-assets-preview__compose-actions
          %span 1000
          %button.button.button--compact.branding-assets-preview__submit-button{ type: 'button', aria: { disabled: 'false', live: 'polite' }, style: 'background-color: var(--color-accent-dark); border-color: var(--color-accent-dark); color: #fff;' } 게시

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :logo,
                as: :file,
                input_html: { accept: f.object.class::UPLOAD_MIME_TYPES, data: { branding_file_input: true, branding_preview_logo_input: true } },
                label: '서버 로고 공통',
                hint: '권장 픽셀: 가로형 600x200 또는 정사각형 200x200',
                wrapper: :with_block_label
      %button.button.button-secondary.branding-assets__clear-upload{ type: 'button', data: { branding_file_clear: true }, hidden: true } 선택한 파일 제거

    .fields-row__column.fields-row__column-6.fields-group
      - if @admin_settings.logo.persisted?
        = image_tag @admin_settings.logo.file.url('display'), class: 'fields-group__thumbnail'
        = link_to admin_site_upload_path(@admin_settings.logo), data: { method: :delete }, class: 'link-button link-button--destructive' do
          = material_symbol 'delete'
          = t('admin.site_uploads.delete')

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :logo_dark,
                as: :file,
                input_html: { accept: f.object.class::UPLOAD_MIME_TYPES, data: { branding_file_input: true, branding_preview_logo_input: true } },
                label: '어두움 모드 로고',
                hint: '권장 픽셀: 가로형 600x200 또는 정사각형 200x200',
                wrapper: :with_block_label
      %button.button.button-secondary.branding-assets__clear-upload{ type: 'button', data: { branding_file_clear: true }, hidden: true } 선택한 파일 제거

    .fields-row__column.fields-row__column-6.fields-group
      - if @admin_settings.logo_dark.persisted?
        = image_tag @admin_settings.logo_dark.file.url('display'), class: 'fields-group__thumbnail'
        = link_to admin_site_upload_path(@admin_settings.logo_dark), data: { method: :delete }, class: 'link-button link-button--destructive' do
          = material_symbol 'delete'
          = t('admin.site_uploads.delete')

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :logo_light,
                as: :file,
                input_html: { accept: f.object.class::UPLOAD_MIME_TYPES, data: { branding_file_input: true, branding_preview_logo_input: true } },
                label: '밝음 모드 로고',
                hint: '권장 픽셀: 가로형 600x200 또는 정사각형 200x200',
                wrapper: :with_block_label
      %button.button.button-secondary.branding-assets__clear-upload{ type: 'button', data: { branding_file_clear: true }, hidden: true } 선택한 파일 제거

    .fields-row__column.fields-row__column-6.fields-group
      - if @admin_settings.logo_light.persisted?
        = image_tag @admin_settings.logo_light.file.url('display'), class: 'fields-group__thumbnail'
        = link_to admin_site_upload_path(@admin_settings.logo_light), data: { method: :delete }, class: 'link-button link-button--destructive' do
          = material_symbol 'delete'
          = t('admin.site_uploads.delete')

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :thumbnail,
                as: :file,
                input_html: { accept: f.object.class::UPLOAD_MIME_TYPES },
                label: '서버 대표 이미지',
                hint: '권장 픽셀: 1200x630',
                wrapper: :with_block_label
      - if @admin_settings.thumbnail.persisted?
        = f.input :thumbnail_description,
                  as: :text,
                  input_html: { rows: 2, maxlength: Form::AdminSettings::DESCRIPTION_LIMIT },
                  label: '이미지 설명',
                  wrapper: :with_block_label

    .fields-row__column.fields-row__column-6.fields-group
      - if @admin_settings.thumbnail.persisted?
        = image_tag @admin_settings.thumbnail.file.url(:'@1x'), class: 'fields-group__thumbnail'
        = link_to admin_site_upload_path(@admin_settings.thumbnail), data: { method: :delete }, class: 'link-button link-button--destructive' do
          = material_symbol 'delete'
          = t('admin.site_uploads.delete')

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :background,
                as: :file,
                input_html: { accept: f.object.class::UPLOAD_MIME_TYPES, data: { branding_file_input: true, branding_preview_image_vars: '--branding-preview-background-dark --branding-preview-background-light' } },
                label: '배경 이미지 공통',
                hint: '권장 픽셀: 2560x1440',
                wrapper: :with_block_label
      %button.button.button-secondary.branding-assets__clear-upload{ type: 'button', data: { branding_file_clear: true }, hidden: true } 선택한 파일 제거

    .fields-row__column.fields-row__column-6.fields-group
      - if @admin_settings.background.persisted?
        = image_tag @admin_settings.background.file.url('2560'), class: 'fields-group__thumbnail'
        = link_to admin_site_upload_path(@admin_settings.background), data: { method: :delete }, class: 'link-button link-button--destructive' do
          = material_symbol 'delete'
          = t('admin.site_uploads.delete')

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :background_dark,
                as: :file,
                input_html: { accept: f.object.class::UPLOAD_MIME_TYPES, data: { branding_file_input: true, branding_preview_image_vars: '--branding-preview-background-dark' } },
                label: '어두움 모드 배경 이미지',
                hint: '권장 픽셀: 2560x1440',
                wrapper: :with_block_label
      %button.button.button-secondary.branding-assets__clear-upload{ type: 'button', data: { branding_file_clear: true }, hidden: true } 선택한 파일 제거

    .fields-row__column.fields-row__column-6.fields-group
      - if @admin_settings.background_dark.persisted?
        = image_tag @admin_settings.background_dark.file.url('2560'), class: 'fields-group__thumbnail'
        = link_to admin_site_upload_path(@admin_settings.background_dark), data: { method: :delete }, class: 'link-button link-button--destructive' do
          = material_symbol 'delete'
          = t('admin.site_uploads.delete')

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :background_light,
                as: :file,
                input_html: { accept: f.object.class::UPLOAD_MIME_TYPES, data: { branding_file_input: true, branding_preview_image_vars: '--branding-preview-background-light' } },
                label: '밝음 모드 배경 이미지',
                hint: '권장 픽셀: 2560x1440',
                wrapper: :with_block_label
      %button.button.button-secondary.branding-assets__clear-upload{ type: 'button', data: { branding_file_clear: true }, hidden: true } 선택한 파일 제거

    .fields-row__column.fields-row__column-6.fields-group
      - if @admin_settings.background_light.persisted?
        = image_tag @admin_settings.background_light.file.url('2560'), class: 'fields-group__thumbnail'
        = link_to admin_site_upload_path(@admin_settings.background_light), data: { method: :delete }, class: 'link-button link-button--destructive' do
          = material_symbol 'delete'
          = t('admin.site_uploads.delete')

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :favicon,
                as: :file,
                input_html: { accept: f.object.class::UPLOAD_MIME_TYPES },
                label: '브라우저 탭 아이콘',
                hint: '권장 픽셀: 48x48',
                wrapper: :with_block_label

    .fields-row__column.fields-row__column-6.fields-group
      - if @admin_settings.favicon.persisted?
        = image_tag @admin_settings.favicon.file.url('48'), class: 'fields-group__thumbnail'
        = link_to admin_site_upload_path(@admin_settings.favicon), data: { method: :delete }, class: 'link-button link-button--destructive' do
          = material_symbol 'delete'
          = t('admin.site_uploads.delete')

  .fields-row
    .fields-row__column.fields-row__column-6.fields-group
      = f.input :app_icon,
                as: :file,
                input_html: { accept: f.object.class::UPLOAD_MIME_TYPES },
                label: '앱 아이콘',
                hint: '권장 픽셀: 512x512',
                wrapper: :with_block_label

    .fields-row__column.fields-row__column-6.fields-group
      - if @admin_settings.app_icon.persisted?
        = image_tag @admin_settings.app_icon.file.url('48'), class: 'fields-group__thumbnail'
        = link_to admin_site_upload_path(@admin_settings.app_icon), data: { method: :delete }, class: 'link-button link-button--destructive' do
          = material_symbol 'delete'
          = t('admin.site_uploads.delete')

  %h2 테마 조정

  .fields-group
    = f.input :branding_timeline_panel_opacity,
              as: :integer,
              input_html: { min: 0, max: 100, step: 5, data: { branding_preview_var: '--branding-preview-panel-opacity', branding_preview_transform: 'opacity' } },
              label: '타임라인 패널 투명도',
              hint: '0은 완전 투명, 100은 불투명입니다. 배경 이미지가 적용된 타임라인 패널에 반영됩니다.',
              wrapper: :with_block_label

  - CustomBrandingTheme::FORM_COLOR_GROUPS.each do |group|
    .branding-assets__color-section
      %h3= group[:title]

      - group[:fields].each do |field, config|
        .branding-assets__color-field
          %h4= config[:label]
          %p.hint= config[:hint]

          .fields-row
            - CustomBrandingTheme::COLOR_SCHEMES.each do |scheme_name, scheme|
              - scheme_field = CustomBrandingTheme.scheme_key(field, scheme)
              - saved_color = CustomBrandingTheme.normalize_hex(f.object.public_send(scheme_field), CustomBrandingTheme::DEFAULTS[scheme_field])
              .fields-row__column.fields-row__column-6.fields-group
                .input.with_block_label.string.optional
                  %label.string.optional{ for: "form_admin_settings_#{scheme_field}" }= scheme[:title]
                  .branding-assets__color-control{ data: { branding_color_row: true } }
                    = color_field_tag nil,
                                      saved_color,
                                      id: "#{scheme_field}_picker",
                                      data: { branding_color_picker: true, branding_preview_var: "--branding-preview-#{field.to_s.delete_prefix('branding_color_').tr('_', '-')}-#{scheme_name}", branding_saved_value: saved_color }
                    = f.text_field scheme_field,
                                   id: "form_admin_settings_#{scheme_field}",
                                   value: saved_color,
                                   pattern: '#?[0-9a-fA-F]{6}',
                                   data: { branding_color_hex: true, branding_preview_var: "--branding-preview-#{field.to_s.delete_prefix('branding_color_').tr('_', '-')}-#{scheme_name}", branding_saved_value: saved_color }

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
    = f.button :button, 'Bluebirdlike UI 기본값으로 초기화', type: :submit, name: 'branding_assets_action', value: 'reset_theme', data: { confirm: '색상과 패널 투명도 설정을 Bluebirdlike UI 기본값으로 되돌릴까요?' }
